html{
    height:100%;
}

hr {
    margin:8px;
}

img{
    width:300px;
    height:300px
}
header{
    font-size: 48px;
    margin-left:8px;
}

body {
    display:flex;
    flex-direction: column;
    min-height: 100%;
    margin: 0;
}

footer {
    text-align: center;
    color: grey;
}

input{
    width:50px;
}

.menu{
    border-right: 1px solid lightgray;
    margin-right: 10px;
}
.menu p{
    font-size: 25px;
    margin-left: 8px;
}
.menu ui{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menu li{
    font-size: 20px;
    margin-bottom: 10px;
}

.menu li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

.menu li a:hover {
    background-color: #555;
    color: white;
}
.content {
    display: flex;
    flex-grow: 1;
}

.dropdown {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
   
}

.dropdown p{
    font-size: 20px;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    background-color: #f9f9f9;
    width:300px;
    z-index: 99;
    
}
.dropdown-content p{
    margin:10px;
}
.dropdown-content table{
    width:100%;
}

.dropdown-content button{
    margin:10px;
    float:right;
}

.dropbtn {
    background-color: lightgrey;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.content nav{
    flex-grow: 1;
    flex-basis: 0%;
    
}

.content > section{
    flex-grow: 9;
    flex-basis: 0%;
    display: flex;
    flex-direction: column;
}

.product{
    position: relative;
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
}

.product img{
    margin-right: 30px;
}
.product div p{
    font-size:30px;
}

.product div table{
    width:50%;
}

.product div table button{
    background-color: lightgrey;
    color: black;
    font-size: 16px;
}