fieldset{width:310px}
form label{clear:left;float:left;width:90px;line-height:29px}
form div{padding:4px 0}
input[type=text],input[type=number],select,textarea{width:200px}
a {
    color: #000;
    text-decoration: none;
}

#headerbar > h1 { display:inline-block;margin: auto;}
#main {margin-top: 25px;}
#userInfo{position: relative;display: flex;float:right;margin-right: 8px;}
#username{margin-right: 10px;}
#logoutbtn{align-self: center;}

#categoryPanel,#categoryEditPanel{float:left;width:350px;border-right:1px solid #CCC}
#productPanel,#productEditPanel{float:left;padding-left:10px}
#orderPanel fieldset{width: auto;}

#categoryList span{cursor:pointer;text-decoration:underline;color:#00F}
#categoryList span:hover{text-decoration:none}
#categoryList span.edit, #categoryList span.delete{float:right;padding-right:10px}

#productList span{cursor:pointer;text-decoration:underline;color:#00F}
#productList span:hover{text-decoration:none}
#productList span.edit, #productList span.delete{float:right;padding-right:10px}

#orderList {width:100%};

#prod_edit img{width:250px;height:250px}

.hide{display:none}
.clear{clear:both}